/* STYLE SHEET */

body {
width:100%;
height:100%;
margin:0;
padding: 0;
}

.logo {
position: absolute;
width:60px;
height:60px;
left:30px;
top:20px;
}

.header {
background: linear-gradient(to left,#fc2b2b, #fc3de9, cyan, #93fc3d, #fcf63d);
position: relative;
height:100px;
display: flex;
justify-content: center;
align-items: center;
}

.headerTitle {
color:black;
font-family: Marker Felt, fantasy;
font-size: 22pt;
}

i {
margin-right:5px;
}

.main {
width: 100%;
height: 100%;
margin: 0;
padding-bottom: 100%;
}

.ad {
background:#fff2f4;
position: relative;
height:100px;
border-top: 2px solid black;
border-bottom: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
}

.products {
width:100%
}

.product {
float:left;
background:#fff2f4;
width: 30%;
padding: 12px 20px;
margin: 10px;
border: 2px solid black;
border-radius: 20px;
box-sizing: border-box;
}